@{
    ViewBag.Title = "ContactSuccess";
}

<h2>Contact Success</h2>

<div class="content">
    <p>Адрес электронной почты отправлено успешно! </p>
    <p>Спасибо за ваш интерес. Мы свяжемся с вами как можно скорее! </p>
</div>
