@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
 
<html>
<head>
   
    <title>Server error</title>
</head>
<body>
    <div>
        Sorry, some server error has occured.
    </div>
</body>
</html>