@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title — Dashboard  Admin Panel</title>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
      <header id="header">
        <hgroup>
            <h1 class="site_title"><a href="default.aspx">Website Admin</a></h1>
            <h2 class="section_title">Dashboard</h2>
            <h3 class="btn_view_site"><a href="../default.aspx">View Site</a></h3>
        </hgroup>
    </header>

    <div>
        
    </div>
</body>
</html>
