@{
    ViewBag.Title = "Кардио";
}

<h2>Что такое кардио тренировки</h2>




<table style="width: 100%;">
    <tr>
        <td><img style="height:300px;width:320px; border:5px solid brown;" src="~/Foto/Images/IMG_2186.JPG" /> </td>
        <td class="rules"><p>Если  вы хотите похудеть, то одними из ключевых упражнений в фитнес-центре, вам следует выбрать 
кардио-тренировки.</p> 
Кардио тренировки – это тренировки сердечно-сосудистой системы, которые также способствуют увеличению объема легких. Это благотворная комплексная работа, в которой основным источником энергии является кислород, поступающий в кровь из легких.

Основные виды кардио-тренировок – это бег, интенсивная ходьба.</td>
        
    </tr>
    
</table>
