@{
    ViewBag.Title = "News2";
}

<div class="about">
    <h2>Жити активно</h2>

    <h4>“Тут навіть новачки почуваються комфортно і впевнено”</h4>
    Зараз у нашому місті існують десятки спортивних клубів, фітнес-центрів та 
інших закладів, де хмельничани можуть підтримувати гарну фізичну форму. 
Крім зручного територіального розташування на вибір клубу впливають й інші 
фактори. Ми розпитали клієнтів спортивно-оздоровчого центру “Спарта”, чому 
вони ходять саме сюди.
    <p>
        Грошев захоплювався спортом ще у дитинстві, тоді він займався 
боксом. У 30 років, після перерви, він знову почав опікуватися своєю фізичною 
формою. Зараз 40-річний бізнесмен тричі на тиждень займається на тренажерах 
у спортивно-оздоровчому центрі “Спарта”. 
“Я був і в інших закладах, але зупинив свій вибір на цьому, бо мене влаштовує 
усе: місцезнаходження, тренери, а особливо — спокійна та домашня атмосфера. 
Тут навіть новачки почуваються комфортно і впевнено”, - розповідає 
хмельничанин.
    </p>
    <p>
        Він тренується задля підтримки фізичної форми, що радить робити й іншим. 
Адже тренування не лише допомагають покращити здоров'я та тримати тіло в 
тонусі, а й дають колосальний заряд енергії.
У “Спарті” пан Микола вже чотири роки. Тренери розписують програму, 
підказують техніку виконання вправ, а також дають корисні поради щодо 
харчування та інших аспектів здорового способу життя. Такі заняття 
мобілізують та не дають можливості “сачканути”, переконаний чоловік.
29-річному Вадиму Лисенку подобається цінова політика клубу — для 
постійних клієнтів тут чималі бонуси.
    </p>
    <p>
        “Якщо ходиш у зал цілий рік, наступного отримуєш щомісяця по 
безкоштовному тренуванню. І виходить, що за рік маєш практично місяць 
додаткових занять”, - розповідає Вадим.
Єфім Германський, робота якого не пов'язана із фізичними навантаженнями, 
займається на тренажерах у “Спарті” ось уже два роки.
“Мені подобається колектив, а ще ставлення тренерів до підопічних”, - каже 
хмельничанин.
    </p>
    <p>
        На думку підприємця Ігора Джезіцького, у “Спарти” є усі шанси бути одним 
із лідерів у сфері спортивно-оздоровчих послуг, адже тут якісні тренажери 
від відомих виробників, на яких працювати — одне задоволення, а також 
професійні тренери та уважна адміністрація.
“Попросиш троси змінити чи додаткове обладнання встановити — на перший 
поклик клієнта реагують адекватно і швидко. Є усе, від гантелей до душу і 
кондиціонерів”, - розповідає пан Ігор.
    </p>
    <p>
        Він зізнається, що коли вперше потрапив сюди, мав не дуже сильні враження, 
адже клуб — невеликих розмірів. Втім три роки відвідує виключно цей заклад.
“Коли людина приходить і починає займатися, розуміє, що потрапила у 
затишну і дружню атмосферу, немов у рідний дім”, - ділиться враженнями Ігор 
Джезіцький.
    </p>
    <p>Ксенія ЖУЖА.</p>
    <p>Фото Дмитра СКРИПНИКА.</p>
</div>

