@{
    ViewBag.Title = "News1";
}

<div class="about">
    <h2>«Спарта» – професійно, індивідуально, дружньо</h2>

    Спортивно-оздоровчий центр, який розташувався на першому поверсі новобудови на вулиці Завадського, працює вже більше трьох років. Площа для занять розділена на дві частини: для силових та кардіотренувань. І хоч зал візуально здається не дуже великим, але тренажерів тут насправді багато. 
За словами тренера Павла, в «Спарті» є повний набір «заліза» для того, щоб тренувати абсолютно всі групи м’язів. 

<p>«Часто у тренажерних залах трапляються ситуації, коли людина з якихось причин пропускає тренування. І вони просто пропадають, оскільки система відпрацювань є не скрізь, – розповідає адміністратор «Спарти» Валентина Шатковська. – У нас жодне тренування не скасовується через пропуски, оскільки ми з розумінням ставимося до людей, бо ситуації бувають різні».
Облік відвідувань у залі ведеться як через журнал, так і через абонемент, який видається кожному відвідувачу на місяць. Крім того, є ще зошит – у кожного свій – в який записуються не лише програми, індивідуально розроблені тренером, а й дати занять. Тому непорозумінь на тему «у мене ще мають бути тренування» не виникає. </p>
<p>У залі працюють по черзі три тренери – всі з великим досвідом тренерської роботи. Вони не лише дають поради щодо підбору програми та системи харчування для новачків, а й стежать за тим, щоб всі вправи виконувалися правильно. І обов’язково страхують, коли мова йде про роботу з великою вагою. Крім того, можливо, завдяки тому, що площа спортивного центру не є надто великою, між відвідувачами склалася особлива – тепла та дружня атмосфера, в якій не лише тренер дає поради і допомагає, а й колеги по тренуваннях можуть щось підказати або зупинити, коли хтось, бажаючи результату швидше, береться за непідйомну для себе вагу. </p>
<p>Ще одна «родзинка» від «Спарти» – безкоштовні тренування. Система працює наступним чином – якщо ви ходите у зал протягом року, то на другий рік щомісяця отримуєте у подарунок ще одне безкоштовне тренування. За 12 місяців таким чином назбирується ще один місяць бонусних тренувань. Після другого року відвідувань – додається ще одне тренування. Тобто, людина, яка ходить у зал більше двох років і має абонемент, наприклад, на 12 тренувань, насправді отримує 12+2 тренування щомісяця. Ще одна можливість заробити бонусне тренування – привести у «Спарту» нового відвідувача. </p>
<p>Що стосується цін, то вони тут досить демократичні та підйомні навіть для школярів та студентів. Причому, вартість занять варіюється в залежності від часу доби. З 10 ранку до 15 дня тренування дешевші. Після 15 години і до закриття залу – дорожчі. Разове тренування коштує 30 гривень. 12 тренувань в місяць – зранку 210 гривень, після обіду – 230 гривень. 16 тренувань, відповідно, 250 та 280 гривень. </p>

    <p>Тетяна НОВАК. </p>
    <p>Фото автора. </p>
</div>
