@{
    ViewBag.Title = "Price";
}

<h1 style="text-align:left">Цены на тренировки</h1>
<br />

@*<img alt="" src="~/Content/price.png" />*@

<table style="width: 100%;">

   
    <tr>
        <img style="width:80%; border:10px solid brown;" alt="" src="~/Content/price2.png" />
    </tr>
    
    @*<tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>*@
</table>
