@{
    ViewBag.Title = "Room";
}
<table>
    <tr>
        <td><p class="rules">Раздевалка - это место с которого начинаэтся ваша тренировка и место куда вы возвращаетесь после усердной работы над собой. По 
этому очень важно чтобы в нём было всё необходимое. </p></td>
        <td><img   id="border"alt="" src="~/Content/forWeb/2014-08-14%2018.53.15.jpg" /></td>
    </tr>
</table>

  
