@{
    ViewBag.Title = "Rules";
}

<h2>Правила клуба</h2>
<ul>
    <li>ПРАВИЛА распространяются на всех посетителей клуба не зависимо от пола, возраста, национальности, семейного и социального статуса.</li>
    <li>Приобретённый в спортивном клубе абонемент активен строго на того человека, на чьё имя он оформлен.</li>
    <li>Приобретённый абонемент ограничен строго одним месяцем и количеством занятий.</li>
    <li>Внутри «абонентского месяца» посещение тренажёрного зала возможно в любые дни, во время работы клуба.</li>
    <li>По окончании даты абонемента или использовании в данном абонементе количества занятий, абонемент становится не активным.</li>
    (Всегда есть выбор: оплатить абонемент на меньшее количество занятий, либо оплачивать разовые посещения.)
    <li>Посещение занятий в тренажерном зале по детскому абонементу строго ограничено до 17:00</li>
    <li>Посещение занятий (не зависимо от направления) допустимо только в чистой сменной обуви.</li>
    <li>В случае пропуска занятий по причине болезни (наличие больничного листа) имеется возможность в течении (одной) недели отработать имеющиеся пропуски.</li>
    <li>Пропущенные по любым другим причинам занятия аннулируются.</li>
    <li>Обязательно соблюдение правил технической безопасности во время занятий в тренажёрном и фитнес залах.</li>
    <li>Ответственность за утерянные вещи спортивный клуб не несёт.</li>
    <li>В вечернее время занятия в тренажёрном зале заканчиваются за 15 минут до закрытия клуба.</li>
    <li>Парковать машины за знаком STOP (у входа в клуб) строго запрещено.</li>
</ul>
С уважением администрация клуба Sparta