@{
    ViewBag.Title = "Rules";
}
<div class="rules"> 
<h2>Правила клуба</h2>
<ul>
    <li>ПРАВИЛА распространяются на всех посетителей клуба независимо от пола, возраста, национальности, семейного и социального статуса.</li>
    <li>Приобретённый в спортивном клубе абонемент активен на того человека, на чьё имя он оформлен.</li>
    <li>Приобретённый абонемент ограничен одним месяцем и количеством занятий. В случае, если по уважительным причинам, Вы не использовали все занятия, они переносятся на следующий месяц.
        Ни одно Ваше оплаченное занятие не пропадёт даром.</li>
    <li>Все, кто пользуется услугами центра больше года, получают одну дополнительную тренировку бесплатно ежемесячно, кто больше двух лет  - две дополнительные тренировки бесплатно ежемесячно.</li>
    <li>Внутри «абонентского месяца» посещение тренажёрного зала возможно в любые дни, во время работы клуба.</li>
    <li>Посещение занятий (независимо от направления) допустимо только в чистой сменной обуви.</li>


    <li>Обязательно соблюдение правил технической безопасности во время занятий в тренажёрных залах</li>
    <li>Ответственность за утерянные вещи спортивный клуб не несёт.</li>
    <li>В вечернее время занятия в тренажёрном зале заканчиваются за 15 минут до закрытия клуба.</li>

</ul>
    </div>
<p class="rules">С уважением администрация клуба Sparta </p> 