@{
    ViewBag.Title = "Sila";
}

<h2>Профессиональные силовые тренажеры</h2>




<table>
    <tr>
        <td >
            <img class="size" class="im" alt="" src="~/Foto/Images/IMG_2177.JPG" /></td>
        <td>
            <p class="tx">Существует великое множество разновидностей силовых тренировок. Это могут быть занятия со свободным весом (гантелями, штангой, бодибаром) или на тренажерах. Приседания, отжимания, скручивания, любые упражнения для развития и укрепления мышц также относятся к силовым.</p>
        </td>

    </tr>
    <tr>
        <td>
            <p class="tx">Оптимальная частота силовых тренировок - 2-3 раза в неделю.</p>
        </td>
        <td>
            <img class="size" src="~/Foto/Images/IMG_2193.JPG" />
        </td>

    </tr>
    <tr>
        <td>
            <img class="size" src="~/Content/title/big_img_0000460.jpg" /></td>
        <td>
            <p class="tx">При поднятии тяжестей мышцы становятся более сильными, но менее гибкими и эластичными. Поэтому обязательно делайте растяжку.</p>
        </td>

    </tr>
</table>
